<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements. See the NOTICE fi le distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this fi le to You under the Apache License, Version 2.0
(the "License"); you may not use this fi le except in compliance with
the License. You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specifi c language governing permissions and
limitations under the License.
-->
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>PrimeiroServlet</servlet-name>
        <servlet-class>servlets.C01ServletsHello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimeiroServlet</servlet-name>
        <url-pattern>/c01ServletsHello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NomeServlet</servlet-name>
        <servlet-class>servlets.C06NomeRequestIfSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NomeServlet</servlet-name>
        <url-pattern>/c06NomeRequestIfServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TerceiroServlet</servlet-name>
        <servlet-class>servlets.C08SituacaoAlunoRequestHistoricoAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TerceiroServlet</servlet-name>
        <url-pattern>/c08SituacaoAlunoRequestHistoricoAluno</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuartoServlet</servlet-name>
        <servlet-class>servlets.C08SituacaoAlunoRequestHistoricoAlunoTryCatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuartoServlet</servlet-name>
        <url-pattern>/c08SituacaoAlunoRequestHistoricoAlunoTryCatch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuintoServlet</servlet-name>
        <servlet-class>servlets.C15contarletrasrequestswitchLetras</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuintoServlet</servlet-name>
        <url-pattern>/c15contarletrasrequestswitchLetras</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SextoServlet</servlet-name>
        <servlet-class>servlets.C16exibirTabuadaRequestWhile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SextoServlet</servlet-name>
        <url-pattern>/c16exibirTabuadaRequestWhile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetimoServlet</servlet-name>
        <servlet-class>servlets.C17calcularSalarioPageImport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetimoServlet</servlet-name>
        <url-pattern>/c17calcularSalarioPageImport</url-pattern>
    </servlet-mapping>
</web-app>